<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
    <meta charset="UTF-8">
    <title>Notes App</title>
</head>
<body ng-controller="MainCtrl as ctrl">

<div>
    <h2>What are your favorite sports?</h2>
    <div ng-repeat="sport in ctrl.sports">
        <label ng-bind="sport.label"></label>
        <div>
            With Binding:
            <!--
            The code in the book is similar to `ng-true-value="YES"` (no single quotes around
            the value, "YES". This produces incorrect behavior. The documentation for
            `ng-true-value` describes the value inside the double quotes as an expression. Since
            the developer tools reported a `constExpr` error and since we check the value later
            against the JavaScript string 'YES', I thought the expression might need to be
            valid JavaScript. The code using 'YES' and 'NO' work as expected.
            -->
            <input type="checkbox"
                   ng-model="sport.selected"
                   ng-true-value="'YES'"
                   ng-false-value="'NO'">
        </div>
        <div>
            Using ng-checked:
            <input type="checkbox"
                   ng-checked="sport.selected === 'YES'">
        </div>
        <div>
            Current state: {{sport.selected}}
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script>
    angular.module('notesApp', [])
            .controller('MainCtrl', [function () {
               var self = this;
                self.sports = [
                    {label: 'Basketball', selected: 'YES'},
                    {label: 'Cricket', selected: 'NO'},
                    {label: 'Soccer', selected: 'NO'},
                    {label: 'Swimming', selected: 'YES'}
                ];
            }])
</script>

</body>
</html>