<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
    <meta charset="UTF-8">
    <title>Notes App</title>
    <style>
        .username.ng-valid {
            background-color: green;
            color: white;
        }
        .username.ng-dirty.ng-invalid-required {
            background-color: red;
        }
        .username.ng-dirty.ng-invalid-minlength {
            background-color: lightpink;
        }
        .password.ng-valid {
            background-color: green;
            color: white;
        }
        .password.ng-dirty.ng-invalid-required {
            background-color: red;
        }
    </style>
</head>
<body ng-controller="MainCtrl as ctrl">

<form ng-submit="ctrl.submit()" name="myForm">
    <label>
        Username:&nbsp;
        <input type="text"
               class="username"
               name="uname"
               ng-model="ctrl.user.username"
               required=""
               ng-minlength="4">
    </label>
    <br/>
    <label>
        Password:&nbsp;
        <input type="password"
               class="password"
               name="pwd"
               ng-model="ctrl.user.password"
               required="">
    </label>
    <br/>
    <input type="submit"
           value="Submit"
           ng-disabled="myForm.$invalid">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script>
    angular.module('notesApp', [])
            .controller('MainCtrl', [function () {
                var self = this;
                self.submit = function () {
                    //noinspection JSUnresolvedVariable
                    console.log('User clicked submit with ', self.user);
                };
            }]);
</script>

</body>
</html>