<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
    <meta charset="UTF-8">
    <title>Notes App</title>
</head>
<body ng-controller="MainCtrl as ctrl">

<form ng-submit="ctrl.submit()" name="myForm">
    <label>
        Username:&nbsp;
        <input type="text"
               name="uname"
               ng-model="ctrl.user.username"
               required=""
               ng-minlength="4">
        <span ng-show="myForm.uname.$error.required">
            This is a required field.
        </span>
        <span ng-show="myForm.uname.$error.minlength">
            Minimum length is 4.
        </span>
        <span ng-show="myForm.uname.$invalid">
           This field is invalid.
        </span>
    </label>
    <br/>
    <label>
        Password:&nbsp;
        <input type="password"
               name="pwd"
               ng-model="ctrl.user.password"
               required="">
        <span ng-show="myForm.pwd.$error.required">
            This is a required field.
        </span>
        <span ng-show="myForm.pwd.$invalid">
            This field is invalid.
        </span>
    </label>
    <br/>
    <input type="submit"
           value="Submit"
           ng-disabled="myForm.$invalid">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script>
    angular.module('notesApp', [])
            .controller('MainCtrl', [function () {
                var self = this;
                self.submit = function () {
                    //noinspection JSUnresolvedVariable
                    console.log('User clicked submit with ', self.user);
                };
            }]);
</script>

</body>
</html>