<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
    <meta charset="UTF-8">
    <title>Notes App</title>
</head>
<body ng-controller="MainCtrl as ctrl">

<div>
    <h2>What is your favorite language?</h2>
    <!--
    How very interesting.

    When I did not use `ng-repeat`, I was able to the expression
    `user.language` in all the radio button controls **and** in the subsequent
    paragraph.

    When I changed to use `ng-repeat`, change the selected radio button no
    longer set `user.language`.

    By changing the model expression to `ctrl.user.language`, then both
    elements were looking at the same model.

    I wonder if `ng-repeat` creates a "nested scope"?
    -->
    <div ng-init="user = {language: 'TypeScript'}" ng-repeat="language in ctrl.webLanguages">
        <label>
            {{language}}
            <input type="radio"
                   name="language"
                   ng-model="ctrl.user.language"
                   value="{{language}}">
        </label>
    </div>
    <p>{{ctrl.user.language}}, I see.</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script>
    angular.module('notesApp', [])
            .controller('MainCtrl', [function () {
                var self = this;
                self.webLanguages = ['ClojureScript', 'Dart', 'JavaScript', 'TypeScript'];
                self.user = {language: 'TypeScript'};
            }]);
</script>

</body>
</html>