<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
    <meta charset="UTF-8">
    <title>Notes App</title>
</head>
<body ng-controller="MainCtrl as ctrl">

<div>
    <h2>What is your favorite language?</h2>
    <div ng-init="user = {language: 'TypeScript'}" ng-repeat="language in ctrl.webLanguages">
        <label>
            <input type="radio"
                   name="language"
                   ng-model="ctrl.user.language"
                   value="{{language}}">
            {{language}}
        </label>
    </div>
    <p>{{ctrl.user.language}}, I see.</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script>
    angular.module('notesApp', [])
            .controller('MainCtrl', [function () {
                var self = this;
                self.webLanguages = ['ClojureScript', 'Dart', 'JavaScript', 'TypeScript'];
                self.user = {language: 'TypeScript'};
            }]);
</script>

</body>
</html>